body {
    overflow-x: hidden;
}

.contenido-planes {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 4rem;
}

.plan1 {
    margin: 2rem;
    margin-bottom: 4rem;
    padding: 0 4rem;
}

.plan1 h2 {
    margin: 0 auto;
    width: 100%;
    font-size: clamp(30px, 4vw, 80px);
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.plan-flex {
    width: 100%;
    min-width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}

.plan-container {
    position: relative;
    display: flex;
    width: 50%;
    max-width: 40%;
    margin-right: 2rem;
}

.carrusel {
    display: flex;
    aspect-ratio: 2/3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    position: relative;
}

.plan-content img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    bottom: 1.25rem;
}

.carrusel-nav {
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -1.5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.carrusel-nav a {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #042;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.carrusel-nav a:hover {
    opacity: 1;
}

.plan-flex p {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(16px, 2vw, 30px);
    background-color: rgb(253, 209, 95);
    padding: 2rem;
    margin: 4rem 0 2rem;
    border-radius: 10px;
}

.dishes {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Barlow', sans-serif;
    list-style: none;
    font-size: clamp(16px, 2vw, 30px);
}

.dishes li {
    margin: .5rem;
}

@media only screen and (max-width: 768px) {
    .plan-flex {
        flex-wrap: wrap;
    }

    .plan1 h2 {
        margin-bottom: 2rem;
    }

    .carrusel {
        width: 250px;
    }

    /* 
    /* .plan-container {
        width: 50%;
        max-width: 50%;
        margin: 0 auto;
    } */
    */ .dishes {
        padding-bottom: 3rem;
        border-bottom: dotted rgb(108, 106, 13);
    }

    .dishes:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border: none;
    }
}