.contenido-planes {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2rem 0 4rem;
}

.plan1 {
    margin: 2rem;
    margin-bottom: 4rem;
}

.plan1 h2 {
    margin: 0 auto 2.5rem;
    width: 70%;
    font-size: clamp(2rem, 3vw, 10rem);
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.plan-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: nowrap; */

}

.plan-container {
    position: relative;
    max-width: 48rem;
    /* margin: 0 auto; */
    width: 50%;
    max-width: 30%;
    margin-right: 2rem;
}

.carrusel {
    display: flex;
    aspect-ratio: 2/3;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.plan-content img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    bottom: 1.25rem;
}

.carrusel-nav {
    padding: 1rem;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.carrusel-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #042;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.carrusel-nav a:hover {
    opacity: 1;
}

.plan-flex p {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1.5rem, 1vw, 2rem);
    background-color: rgb(253, 209, 95);
    padding: 2rem;
}

.dishes {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Barlow', sans-serif;
    list-style: none;
    font-size: clamp(1.5rem, 1vw, 2rem);
}

.dishes li {
    margin: .5rem;
}