* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #5C8C3D;
    width: 100%;
    height: auto;
    padding: 30px 0;
    /* background-image: url(/images/background-image.jpg); */

}

.header-contenido h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

a {
    font-family: 'Gabarito', sans-serif;
    font-size: medium;
}

.planes-preview h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

footer {

    width: 100%;
    background-color: #5C8C3D;
    color: black;
    margin-top: auto;
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 0.5fr;
}

.grid-item {
    padding: auto 0;
    margin: auto 10px;

}

.footer-menu ul {
    list-style-type: none;

}

.footer-menu a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-menu {
    display: inline-flex;
    color: black;
    justify-content: space-between;
    position: relative;
    top: 0;
    margin-right: 1em;
    width: 95vw;
    flex-wrap: wrap;
}

.header-logo {
    position: relative;
    height: 80%;
    margin: 1em;
    top: 0;
    left: 0;
}

#logo {
    max-height: 100px;
    border-radius: 10rem;
}

.navbar-menu a {
    text-decoration: none;
    margin: 1em;
    font-size: 1em;
    color: black;
}

.header-contenido h1 {
    color: black;
    text-align: center;
    padding: 30px 0 20px;
}

.planes-preview {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    text-align: center;
    background-color: #FFBD4A;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px 0 30px;

}

.planes-preview h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.tarjetas {
    width: 90%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    padding: 60px 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.plan-preview-tarjeta {

    min-width: 200px;
    flex: 350px;
    height: 300px;

}

.img-tarjeta img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 400px;
    object-fit: cover;

}

.btn-planes a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-planes button {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
}

.contenido-zonaentregas {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.zonas {
    margin-bottom: 30px;
}

.zonas h3 {
    margin: 10px;
}

.grid-area1 {
    grid-area: texto1;
}

.grid-area2 {
    grid-area: texto2;
}

.grid-area3 {
    grid-area: formulario;
}

.contenido-contacto {
    display: grid;
    margin: 50px;
    row-gap: 30px;
    column-gap: 40px;
    grid-template-areas: 'texto1 formulario'
        'texto2 formulario'
        'texto2 formulario';
}

form {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 350px;
}

form input,
textarea {
    width: 100%;
}

form input,
textarea,
p {
    margin-bottom: 15px;
    margin-top: 5px;
}

form p {
    text-align: center;
    font-weight: bold;
}

.grid-area2 iframe {
    margin-top: 20px;
}

.btn-enviar {
    padding: 5px 10px;
    margin-left: 80%;
}

.container {
    display: grid;
    grid-template-columns: 1 3;
}

.contenido-planes {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 2em;
}