* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #5C8C3D;
    padding: 30px 0;
    background-image: url(/images/background-image-color.jpg);
    background-size: cover;
}

.header-contenido h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

a {
    font-family: 'Gabarito', sans-serif;
    font-size: medium;
}

.planes-preview h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}

footer {

    width: 100%;
    background-color: #5C8C3D;
    color: black;
    padding: 20px 0 10px;
    text-align: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.footer-icon {
    display: flex;
    flex-flow: row nowrap;
}

.footer-icon a {
    text-decoration: none;
}

.footer-icons i {
    color: black;
    width: 1.5rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-menu {
    display: inline-flex;
    color: black;
    justify-content: space-between;
    position: relative;
    top: 0;
    margin-right: 1em;
    padding: 0 2em;
    width: 95vw;
    flex-wrap: wrap;
}

.header-logo {
    position: relative;
    height: 80%;
    margin: 0 1em 1em;
    top: 0;
    left: 2%;
}

#logo {
    max-height: 100px;
    border-radius: 10rem;
}

.navbar-menu a {
    text-decoration: none;
    margin: 1em;
    font-size: 1em;
    color: rgb(255, 255, 255);
}

.header-contenido h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0 20px;
    max-width: 90%;
    margin: 0 auto;
}

.planes-preview {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    text-align: center;
    background-color: #FFBD4A;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px 0 30px;

}

.planes-preview h2 {
    padding-top: 10px;
    padding-bottom: 20px;
}

.tarjetas {
    width: 90%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    padding: 60px 0px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.plan-preview-tarjeta {

    min-width: 200px;
    flex: 350px;
    height: 330px;

}

.img-tarjeta img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 400px;
    object-fit: cover;

}

.btn-planes a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn-planes button {
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
    transition: all .5s ease;
}

.btn-planes button:hover {
    transform: translateY(-3px);
    border-color: #FFBD4A;
    background-color: #fadba7;
}

.aboutus-div {
    width: 90%;
    margin: 0 auto;
    display: grid;
    overflow: hidden;
    padding: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}

.section-aboutus {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    text-align: center;
    background-color: #FFBD4A;
    border-radius: 10px;
    margin: auto;
    padding: 20px;

}

.contenido-aboutus {

    min-width: 200px;
    flex: 350px;
    height: 200px;

}

.zonaentregas-titulo {
    text-align: center;
    margin: 2rem;
    font-size: clamp(2rem, 3vw, 10rem);
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.contenido-zonaentregas {
    font-size: clamp(1rem, 1vw, 3rem);
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}

.zonas {
    margin: 1rem 2rem 4rem;
}

.zonas h3 {
    margin: 1rem;
}

.grid-area1 {
    grid-area: texto1;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-wrap: pretty;
}

.grid-area1 a {
    font-size: 20px;
}

.grid-area2 {
    grid-area: texto2;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.grid-area2 a {
    font-size: 16px;
}

.grid-area3 {
    margin: 0 2rem;
    grid-area: formulario;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.contenido-contacto {
    display: grid;
    margin: 3rem;
    row-gap: 30px;
    column-gap: 40px;
    grid-template-areas: 'texto1 formulario'
        'texto2 formulario'
        'texto2 formulario';
    justify-content: center;
    align-items: center;
}

form {
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    min-width: 350px;
}

form input,
textarea {
    width: 100%;
}

form input,
textarea,
p {
    margin-bottom: 15px;
    margin-top: 5px;
}

form p {
    text-align: center;
    font-weight: bold;
}

.grid-area2 iframe {
    margin-top: 20px;
}

.btn-enviar {
    padding: 5px 10px;
    margin-left: 80%;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFBD4A;
    border: none;
    border-radius: 0.3rem;
    font-size: 16px;
    opacity: 0.7;
}

.btn-enviar:hover {
    opacity: 1;
}